* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @media screen and (width >=768px) {
    font-size: 18px;
  }
}

input,
button {
  display: block;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

body {
  font-weight: 300;
  @include light-theme;
  background: rgb(75, 78, 173);
  background: linear-gradient(
    25deg,
    rgba(75, 78, 173, 1) 0%,
    rgba(81, 96, 196, 1) 45%,
    rgba(89, 119, 223, 1) 100%
  );
}

main {
  display: block;
  min-height: 100vh;
  height: max-content;
}
